
/*
    .cuerpo { background-image:url(../imagenes-isa/portada.jpg); 
        background-size: cover;
        height:500px;
        background-repeat: no-repeat;
        background-position: center top; */




    #titulo {
        font-size:medium;
        font-style: italic;
        color: rgba(185, 158, 158, 0.863);
        font-family: 'bad script' sans-serif;
        text-shadow: 1px 1px 2px;
}

        /*al titulo lo cambie de "class" a "id"*/

    .contenedora {
        display: flex;
        justify-content: center;
        transform: scale(1.1);}

    .img {
        width: 250px;
        height: 400px;
        margin: 0 1.5px; 
        }

        .header{
            font-family: 'roboto';
            font-style: italic;
            font-weight: bold;
            background-color: rgb(194, 166, 166);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 85px;
            padding: 5px 5%;}

            .header .logo{
                    cursor: pointer;}

            .header .logo img{ 
                    height: 70px;
                    width: auto;
                    transition: all 0.3s;}

            .header .logo img:hover{
                    transform: scale(1.2);}

            .header .nav-links{
                    list-style: none;}

            .header .nav-links li{
                    display: inline-block;
                    padding: 20px;}

            .header .nav-links li:hover{
                    transform: scale(1.1);}

            .header .nav-links a{
                    font-size: 700;
                    color:rgb(105, 102, 102);
                    text-decoration: none;}

                a:link {
                        color:rgba(185, 158, 158, 0.863); 
                        font-family: 'roboto';
                        text-decoration:none;
                        font-weight: bolder;}
                a:hover {
                        color: black;
                        font-family: 'roboto';}
                
                #encabezado { position: sticky;
                        left: 20px;
                        top: 5px;
                        z-index: 1;}

                        .texto {
                         font-family: 'nunito';
                         text-align:center;
                         color: rgb(59, 59, 59);
                         text-decoration: none;

                        }



                       .span {
                           color:black; 
                           font-style: italic;
                           font-weight: bolder;
                        } 
                        
                        .especial {background-image:url(../imagenes-isa/portada.jpg); 
                                background-size:cover;
                                height:1000px;
                                width: 1500px;
                                background-repeat: no-repeat;
                                background-position: center top; 
                                
                        }





